$background-color: #5DA49C !default;
$background-color2: #4CAF50 !default;
$font-color: #FFF !default;
$base-font-size: 20px;

html {
  background-color: $background-color2;
  margin-left: 10%;
  margin-right: 10%;
  font-size: $base-font-size;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .body-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    @import '../dashboard';
    @import '../home';
    @import '../loading-indicator';
    @import '../loading';
    @import '../practice';
    @import '../root';
    @import '../setting';
    @import '../word-item';
  }
}
