.Home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Catamaran', sans-serif; }
  .Home :lang(ja) {
    font-family: "Sawarabi Mincho";
    font-size: 100px; }
