.dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .practice-wrapper {
    width: 60%;
  }

  .question {
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  .answer {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .go-button {
      margin-left: 20px;
    }
  }
  .solutions {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
  }
}
