@import 'style.scss';
.Home {
  color: $font-color;
  font-family: 'Catamaran', sans-serif;
  // font-family: "Sawarabi Mincho";
  :lang(ja) {
    font-family: "Sawarabi Mincho";
    font-size: 100px;
  }
}
