.loading-indicator {
  background-color: green;
  height: 30px;
  width: 300px;
  border-radius: 4px;
  position: relative;

  .loading-progress {
    background-color: white;
    width: 30px;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    position: absolute;
  }
  .progress-number {
    width: 100%;
    text-align: center;
    line-height: 30px;
  }
}
