.practice {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .question {
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  .answer {
    margin-bottom: 10px;
    .go-button {
      margin-left: 20px;
    }
  }
  .solutions {
    display: flex;
    flex-direction: column;
  }
}
