#root {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .real-body {
    // background: yellow;
    height: 100%;
    display: flex;
    flex-direction: column;

    .nav {
      ul {
        display: flex;
        justify-content: flex-end;
        margin: 0px;
        li {
          list-style: none;
          max-width: 10%;
          margin-left: 20px;
        }
        a {
          color: $font-color;
          text-decoration: none;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }

    .body {
      // background-color: pink;
      flex: 1 1 auto;
      justify-content: flex-start;
      padding-top: 10%;
      flex-direction: column;

      display: flex;
      flex-direction: column;
    }
  }




}
