$background-color: #5DA49C;
$background-color2: #4CAF50;
$font-color: #FFF;
$base-font-size: 20px;

html {
  background-color: $background-color2;
  margin-left: 10%;
  margin-right: 10%;
  font-size: $base-font-size;
}
